<div class="card-header bg-white border-0">
  <div class="row align-items-center">
    <div class="col-8">
      <h3 class="mb-0">Chapter Links Information</h3>
    </div>
    <div class="col-4 text-right">
      <button type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
<div class="card-body">

<div class="row mt-2">
  <div class="col-lg-12 table-responsive">
    <table class="table align-items-center table-flush">
      <thead>
        <tr>
          <th>Chapter Name</th>
          <th>Reason for Request</th>
          <th>Status</th>
          <th>Action </th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>FaceBook</td>
          <td>link</td>
          <td>FaceBook</td>
          <td>FaceBook</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>