<div class="header pb-8 pt-5 pt-lg-6 d-flex align-items-center" style="min-height: 100px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-3  mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-12">
              <ul class="profileList navbar-nav">
                <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item"> 
                  <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link" [routerLinkActive]="['is-active']">
                    <i class="ni {{menuItem.icon}}"></i>
                    {{menuItem.title}}
                </a>

                </li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    
    <div class="col-xl-9 ">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-header-all bg-white border-0">
            <div class="row  align-items-center">
              <div class="col-2 profile-rounded-circle">
                    <!-- <img src="assets/img/theme/team-4-800x800.jpg" class=""> -->
                    <app-uploadimages [multiple]="'single'"></app-uploadimages>
              </div>
              <div class="col-sm-auto col-8 my-auto">
                <div class="h-100">
                  <h5 class="mb-1 font-weight-bolder">
                  Mark Johnson
                  </h5>
                  <p class="mb-0 font-weight-bold text-sm">
                  CEO / Co-Founder
                  </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
          <div class="card bg-secondary shadow">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>

 
