<div class="card-header bg-white border-0">
  <div class="row align-items-center">
    <div class="col-8">
      <h3 class="mb-0">Professional Information</h3>
    </div>
    <div class="col-4 text-right">
      <button type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
<div class="card-body">
<div class="row mt-2">
  <div class="col-lg-12 table-responsive">
    <table class="table align-items-center table-flush">
      <thead>
        <tr>
          <th>Employment Type</th>
          <th>Name</th>
          <th>Address</th>
          <th>College</th>
          <th>Contact</th>
          <th>Website</th>
          <th>Designation</th>
          <th>Is Current</th>
          <th>From Date</th>
          <th>To Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>FaceBook</td>
          <td>link</td>
          <td>FaceBook</td>
          <td>link</td>
          <td>FaceBook</td>
          <td>link</td>
          <td>FaceBook</td>
          <td>link</td>
          <td>link</td>
          <td>link</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>