.uploadfilebtn{
    display: none;
}
.cameraBtn{
    position: absolute;
    top:-5px;
    right: 30px;
    cursor: pointer;
    em{
        font-size: 20px;
        color:#8568de;
    }
}

.fileBadge{
    padding: 10px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
}
.rightFloat{
    float: right;
}